# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\managed-app-metered-billing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
